fastapi
fpdf2
groq
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai
langchain-groq
langgraph
langgraph-checkpoint-sqlite
langsmith
mitreattack-python
pyngrok
ragas
reportlab
torch
transformers
faiss-cpu
uvicorn
nest-asyncio
python-dotenv
pydantic
sentence-transformers
python-multipart